body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* header-part start */
.header-part {
    padding: 90px 0px;
    background: url(img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Tis for Toggoler */
.navbar-light .navbar-toggler {

    border: 2px solid #ffffff;
    border-radius: 0px;
    padding: 7px;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
    color: #fff;
    font-size: 25px;
    padding: 4px;
}

/* Its for manu */
.manu ul li a {
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
}

/* Its for manu-content */
.manu-content{
    padding: 150px 0px;
    position: relative;
}
.manu-content::after{
    position: absolute;
    content: '';
    width: 43%;
    height: 4px;
    top: 28%;
    left: 28%;
    background-color: #98b4be;
}
.manu-content::before{
    position: absolute;
    content: '';
    width: 43%;
    height: 4px;
    top: 49%;
    left: 28%;
    background-color: #98b4be;
}
.manu-content h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.manu-content p {
    color: #9ab6c0;
    font-family: 'Roboto', sans-serif;
	font-size: 25px;
	padding-top: 50px;
}

/* header-part end */
/* About part strat */
.about-part {
	padding: 120px 0px;
}
.about-img img {
	width: 500px;
	 
}
.about-content h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #4c4c4c;
	padding: 45px 42px;
}
.about-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px 42px;
    color: #7c7c7c;
    line-height: 30px;
    padding-bottom: 40px !important;
}
.coustom-btn {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border: none;
	background-color: #ff2b4a;
	margin-left: 42px;
	border-radius: 0px;
	color: #fff;
	padding: 14px 60px;
}
.coustom-btn:hover{
    color: #fff;
}

/* About part end */
/* Services part strat */
.Services{
    padding: 120px;
    background-color: #f6f6f6;
}
.service-content h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #000000;
}
.service-content h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 45px 0px;
    font-family: 'Roboto', sans-serif;
    color: #494949;

}
.common-service {
	
    padding: 55px;
    color: #ffffff;
}
.sevice-icon{	
    font-size: 40px;
    padding-bottom: 40px;
}
.icon-content h3{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.bg-1{
    background-color: #10c6fc;
}
.bg-2{
    background-color: #835aeb;
}
.bg-3{
    background-color: #002453;
}
.bg-4{
    background-color: #ff2b4a;
}
/* Services part end */
/* enducation part strat */
.education{
     
    padding: 120px 0px;
    background-image: radial-gradient(#2e6e82,#786b7d);
    
    
}
.education-common{
    background-color: #59657e;
    padding: 70px 34px;
    color: #fff;
}
.education-common h2{
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding-bottom: 65px;
    letter-spacing: 2px;
    
}
.education-common h3{
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color:  #f7f8f9;;

}
.education-common h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
    padding: 15px 0px;
    color: #b9bbbf;
}
.education-common p {
	font-family: 'Roboto', Regular;
    font-size: 16px;
    color: #b9bbbf; 
	 
}
.hr-style{
    border: 1px solid #b9bbbf;
}
/* enducation part end */
/* portfollio part start */
.portfollio{
    padding: 120px 0px;
}
.portfollio-img{
    width: 105%;
}
.style-img{
    width: 102%;
}
/* portfollio part end */
/* slider part start */ 
.slider{
    padding: 120px 0px ;
    background-color: #64cbc0;
}
.slider-content i {
	color: #317688;
	font-size: 55px;
}
.slider-content p {
	color: #142926;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding: 50px 0px;
	line-height: 30px;
}
.sing img{
    width: 40%;
}
.sing h5{
	color: #1e3d39;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	padding-top: 40px;
}
.sing p {
	color: #31635d;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.carousel-indicators li{
    background-color: transparent;
}

/* slider part end */
 /* contect part strat */
 .contect-part{
     padding: 120px 0px;
     background-image: radial-gradient(#257a95,#68616a);
 }
 /* contect -left */
 .form {
	background-image: radial-gradient(#2e6e82,#786b7d);
	padding: 40px 55px;
}
.form-top h2{
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 40px;
}
.form input {
	background-color: transparent;
	border-radius: 0px;
	font-size: 14px;
	padding: 20px;
}
.form textarea{
    background-color: transparent;
	border-radius: 0px;
	font-size: 14px;
}
 
.submit-button {
	text-align: right;
}
/* Its for contect right */
.address {
	background-image: radial-gradient(#2e6e82,#786b7d);
	padding: 40px;
}
.address h2 {
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 15px;
}
.address p {
	color: #c6c9d2;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
 /* contect part end */
 /* footer-part start */
 .footer-part{
     padding: 60px 0px;
     background-color: #222222;
 }
 .sociel-icon ul li {
	color: #aaaaaa;
	font-size: 22px;
}
 .sociel-icon ul li i {
	color: #aaaaaa;
	font-size: 25px;
}
.sociel-icon ul li i:hover{
    color: #ff2b4a;
}
.designer h3{
	color: #aaaaaa;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
 /* footer-part end */


/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */